<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="maxHttpRequestsPerSource" value="10" />
  </config>

  <auditSources>
    <clear />
  </auditSources>

  <packageSources>
    <clear/>
    <add key="nuget_proxy" value="https://frnug01.stago.grp/repository/nuget.org-proxyV3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
